= form_for @document, html: { class: "form form-horizontal document" } do |f|
  .form-group
    = f.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, class: 'form-control', required: true
      = f.hidden_field :session_id, value: session.id
    = f.error_span(:name)
  .form-group
    = f.label :content, class: 'control-label col-lg-2'
    .col-lg-10
      -# For some reason - I was having some issues putting the keyup directly as the reflex here.
      = f.text_area :content, class: 'form-control', required: true, rows: 20, data: { controller: "documents", reflex: "change->DocumentsReflex#update", id: @document.id, room: session.id, action: "keyup->documents#edit" }
    = f.error_span(:content)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to "Cancel", documents_path, class: 'btn btn-default'
