<p id="notice"><%= notice %></p>

<h2 class="h2">Name: <%= @document.name %></h2>

<h2 class="h2">Content:</h2>
<%= @markdown_content %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
